#ddd {color: red;
    text-align: center;
    font-size: 88px;
    font:bold;
}
#div1 {color: #00ff7e;
font-size: 38px;

}

.hi {color: cyan;}
button {
    background-color: #389ece; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
position: absolute;}